:markdown
  #### Recent Changes:

  * reimport Trove blueprints for [Blitz and Glitz Edition](http://forums.trovegame.com/showthread.php?16528-Blitz-and-Glitz-Edition#post99409)
  * improved model merging and resizing (more generic, attachment point relative offsets, negative offsets)
  * reimport Trove blueprints for [Meownt and Candy Fishing Edition](http://forums.trovegame.com/showthread.php?16038-Meownt-and-Candy-Fishing-Edition#post94021)
  * more advanced voxel model resizing: resize offsets and calculate bounding box (resize to smallest possible dimension without erasing voxels)
  * support for lairs / dungeons: merge models, fly controls, color palette compressed base64 format (1/2 - 1/3 the link length for big models)
  * Qubicle: fix orientation issues with right handed z coords and migrated Renderer to use right handed coords instead of left handed
  * Editor: added support for big models (lair / dungeon sized models)
  * added new render options: render mode and wireframes
  * libTroxel: major API improvements (changing options and voxel model after initialisation, better camera position, improved [example](https://chrmoritz.github.io/Troxel/static/libTroxelTest.html))
  * new vertex based Renderer (a very lot faster than old renderer, can renderer big models without lag, improved glass rendering)
