:markdown
  #### Recent Changes:

  * sry, the Trove blueprint update for [Fish 'N' Ships](http://forums.trovegame.com/showthread.php?14864-Fish-N-Ships-Update#post83406) will be delayed a little because Trove crashtool .. I mean devtoll doesn't like me today ;-)
  * reimport Trove blueprints for [Chaos Factor Edition](http://forums.trovegame.com/showthread.php?14281-Chaos-Factor-Edition#post77496)
    * use new base64 format in version 2 and resized to bounding box => filesized of blueprint index more than halfed
  * more advanced voxel model resizing: resize offsets and calculate bounding box (resize to smallest possible dimension without erasing voxels)
  * support for lairs / dungeons: merge models, fly controls, color palette compressed base64 format (1/2 - 1/3 the link length for big models)
  * Qubicle: fix orientation issues with right handed z coords and migrated Renderer to use right handed coords instead of left handed
  * Editor: added support for big models (lair / dungeon sized models)
  * added new frequently requested render options:
    * render mode options: render the model either in pretty (handle all material maps) or show only the color, alpha, type or specular map
    * wireframes: render the model either without wireframes, with darkgrey wireframes or with wireframes representing the color, alpha, type or specular maü
  * libTroxel: major API improvements (changing options and voxel model after initialisation, better camera position, improved [example](https://chrmoritz.github.io/Troxel/static/libTroxelTest.html))
  * new vertex based Renderer (a very lot faster than old renderer, can renderer big models without lag, improved glass rendering)