:markdown
  #### Recent Changes:

  * new Trove Creations Linter: check your Trove Creation for common errors before submitting them (use the Trove Creation panel in the sidebar)
  * reimport Trove blueprints for [Fat Fish & Flashy FX Edition](http://forums.trovegame.com/showthread.php?47978-Fat-Fish-amp-Flashy-FX-Edition#post306732)
  * reimport Trove blueprints for [Inventory Expansion and Combat Numbers Edition](http://forums.trovegame.com/showthread.php?43597-Inventory-Expansion-and-Combat-Numbers-Edition#post280614)
  * new options for exporting as link: calculate bounding box and create Trovesaurus shorturl
    * tip: use the 'Export model as Link' dialog for sharing your voxel model because of the much shorter link length.
  * renderer optimizations
  * improved model merging and resizing: resize offsets (attachment point relative or negative offstes) and calculate bounding box
  * added support for big models (lair / dungeon sized models): merge models, fly controls, color palette compressed base64 format
  * new faster Renderer with mor render options + libTroxel API improvements
