:markdown
  #### Recent Changes:

  * reimport Trove blueprints for [Neon Dragons Edition](http://forums.trovegame.com/showthread.php?32351-Neon-Dragons-Edition#post212267)
  * new options for exporting as link: calculate bounding box and create Trovesaurus shorturl
    * tip: use the 'Export model as Link' dialog for sharing your voxel model because of the much shorter link length.
  * reimport Trove blueprints for [Dancing Allies and Server Capacity Edition](http://forums.trovegame.com/showthread.php?27037-Dancing-Allies-and-Server-Capacity-Edition#post180745)
  * renderer optimizations
  * improved model merging and resizing: resize offsets (attachment point relative or negative offstes) and calculate bounding box
  * added support for big models (lair / dungeon sized models): merge models, fly controls, color palette compressed base64 format
  * new faster Renderer with mor render options + libTroxel API improvements
