:markdown
  #### Recent Changes:

  * reimport Trove blueprints for [Preparing For Launch Edition](http://forums.trovegame.com/showthread.php?23874-Preparing-For-Launch-Edition#post161052)
  * reimport Trove blueprints for [The New Deal Edition](http://forums.trovegame.com/showthread.php?22792-The-New-Deal-Edition#post153723)
  * renderer optimizations
  * improved model merging and resizing (more generic, attachment point relative offsets, negative offsets)
  * more advanced voxel model resizing: resize offsets and calculate bounding box (resize to smallest possible dimension without erasing voxels)
  * support for lairs / dungeons: merge models, fly controls, color palette compressed base64 format (1/2 - 1/3 the link length for big models)
  * Qubicle: fix orientation issues with right handed z coords and migrated Renderer to use right handed coords instead of left handed
  * Editor: added support for big models (lair / dungeon sized models)
  * added new render options: render mode and wireframes
  * libTroxel: major API improvements (changing options and voxel model after initialisation, better camera position, improved [example](https://chrmoritz.github.io/Troxel/static/libTroxelTest.html))
  * new vertex based Renderer (a very lot faster than old renderer, can renderer big models without lag, improved glass rendering)
