:markdown
  #### Recent Changes:

  * reimport Trove blueprints for [50% Bonus Experience Week](http://forums.trovegame.com/showthread.php?61571-Patch-Notes-50-Bonus-Experience-Week!#post383509)
  * reimport Trove blueprints for [Ancient Dragon Ascension](http://forums.trovegame.com/showthread.php?56623-Ancient-Dragon-Ascension!&viewfull=1#post355397)
  * Trove Creations Linter: support for linting spears (check out the new [spear creation guide](http://trove.wikia.com/wiki/Spear_Creation_Guide))
  * Trove Creations Linter: check your Trove Creation for common errors before submitting them (use the Trove Creation panel in the sidebar)
  * new options for exporting as link: calculate bounding box and create Trovesaurus shorturl
    * tip: use the 'Export model as Link' dialog for sharing your voxel model because of the much shorter link length.
  * renderer optimizations
  * improved model merging and resizing: resize offsets (attachment point relative or negative offstes) and calculate bounding box
  * added support for big models (lair / dungeon sized models): merge models, fly controls, color palette compressed base64 format
  * new faster Renderer with mor render options + libTroxel API improvements
