:markdown
  #### Recent Changes:

  * reimport Trove blueprints for [Chaotic Sugar Glider & Strike A Pose Edition](http://forums.trovegame.com/showthread.php?52931-Patch-Notes-8-25-2015-Chaotic-Sugar-Glider-amp-Strike-A-Pose-Edition!#post335226)
  * Trove Creations Linter: check your Trove Creation for common errors before submitting them (use the Trove Creation panel in the sidebar)
  * reimport Trove blueprints for [Frosted Mini Update](http://forums.trovegame.com/showthread.php?51738-Frosted-Mini-Update!-8-18-2015#post327850)
  * new options for exporting as link: calculate bounding box and create Trovesaurus shorturl
    * tip: use the 'Export model as Link' dialog for sharing your voxel model because of the much shorter link length.
  * renderer optimizations
  * improved model merging and resizing: resize offsets (attachment point relative or negative offstes) and calculate bounding box
  * added support for big models (lair / dungeon sized models): merge models, fly controls, color palette compressed base64 format
  * new faster Renderer with mor render options + libTroxel API improvements
