:markdown
  #### Recent Changes:

  * Trove Creation Linter: mark voxel with linter issues with colored wireframes (no longer searching for the single floating voxel...)
  * Trove Creation Linter: added check for alpha usage on non glass voxels and specular usage on non solid voxels
  * IO improvements: added ability to restore the attachment point while opening .qp files exported by Trove + increase all remaining model size limits from 255x255x255 to 4294967295^3.
  * reimport Trove blueprints for [Starlight Edition](http://forums.trovegame.com/showthread.php?87731-Starlight-Edition-6AM-PST-2PM-GMT-1-12-2016#post565241)
  * reimport Trove blueprints for [Multiple Cornerstone Edition](http://forums.trovegame.com/showthread.php?87055-Multiple-Cornerstone-Edition-7AM-PST-3PM-GMT-1-5-2016#post560486)
  * new experimental SSAO post effect in the render options (change post effect selection from MSAA to SSAO + FXAA to try it out!)
  * added support for the new waxy specular map value, see the [updated material maps guide](http://trove.wikia.com/wiki/Material_Map_Guide#Colors_for_the_Specular_Map)
  * added render option to change the background color of the renderer
  * Trove Creations Linter: support for linting spears (check out the new [spear creation guide](http://trove.wikia.com/wiki/Spear_Creation_Guide))
  * Trove Creations Linter: check your Trove Creation for common errors before submitting them (use the Trove Creation panel in the sidebar)
  * new options for exporting as link: calculate bounding box and create Trovesaurus shorturl
    * tip: use the 'Export model as Link' dialog for sharing your voxel model because of the much shorter link length.
  * renderer optimizations
  * improved model merging and resizing: resize offsets (attachment point relative or negative offstes) and calculate bounding box
  * added support for big models (lair / dungeon sized models): merge models, fly controls, color palette compressed base64 format
  * new faster Renderer with mor render options + libTroxel API improvements
