:markdown
  #### Recent Changes:

  * new vertex based Renderer
    * the new renderer is 5+ times faster on normal sized models and even better on big models (you can view very big models without lag now) than the old renderer
    * this is done by only adding vertexes to the scene which are visible (the old renderer uses 6 vertexes per voxel for all voxels in the model, even the invisbile ones in the middle)
    * improved rendering of transparent / glass material maps
    * implement renderer.reload for dimension changes which should improve memory footprint (less garbage to collect) and performance while rotating, resizing or switching between models
  * reimport Trove blueprints for [Dance Off Edition](http://forums.trovegame.com/showthread.php?11868-Dance-Off-Edition#post53682)
  * speed up .qb export a lot (2.5 times faster for compressed and 100+ for uncompressed)
  * reimport Trove blueprints for [Take Flight Update](http://forums.trovegame.com/showthread.php?10282-Take-Flight-Update#post49133)
  * cache Trove.json again *(Did you know: Troxel is a ~1MB self contained HTML5 webapp, which you can use even offline?)*
  * better update dialog *(yeah, you looking at it right now ;-) )*
  * optimized fill tool (now 8 times faster for area fills and uses hsl instead of rgb noise)
  * reimport Trove blueprints for [Do Not Disturb Edition](http://forums.trovegame.com/showthread.php?9568-Do-Not-Disturb-Edition#post45944)
  * rewrite build system using [Grunt](http://gruntjs.com/) (now much more advanced, fully automateda and with full windows support)
