:markdown
  #### Recent Changes:

  * reimport Trove blueprints for [Neon Nightsky Edition](forums.trovegame.com/showthread.php?13370-Neon-Nightsky-Edition#post68598)
  * support for lairs / dungeons: merge models, fly controls, color palette compressed base64 format (1/2 - 1/3 the link length for big models)
  * reimport Trove blueprints for [Spring Edition](http://forums.trovegame.com/showthread.php?12977-Spring-Edition#post64097)
  * Qubicle: fix orientation issues with right handed z coords and migrated Renderer to use right handed coords instead of left handed
  * Editor: added support for big models (lair / dungeon sized models)
  * added new frequently requested render options:
    * render mode options: render the model either in pretty (handle all material maps) or show only the color, alpha, type or specular map
    * wireframes: render the model either without wireframes, with darkgrey wireframes or with wireframes representing the color, alpha, type or specular maü
  * libTroxel: major API improvements (changing options and voxel model after initialisation, better camera position, improved [example](https://chrmoritz.github.io/Troxel/static/libTroxelTest.html))
  * new vertex based Renderer (a very lot faster than old renderer, can renderer big models without lag, improved glass rendering)