:markdown
  #### Recent Changes:

  * reimport Trove blueprints for [Bad to the Bone Edition](http://forums.trovegame.com/showthread.php?77270-Patch-Bad-to-the-Bone-Edition-10-27-2015-7AM-PDT-2-PM-GMT#post476823)
  * reimport Trove blueprints for [Glim Life Update](http://forums.trovegame.com/showthread.php?75786-Glim-Life-Update-10-20-2015-7AM-PDT-2-PM-GMT#post467719)
  * added support for the new waxy specular map value, see the [updated material maps guide](http://trove.wikia.com/wiki/Material_Map_Guide#Colors_for_the_Specular_Map)
  * added render option to change the background color of the renderer
  * Trove Creations Linter: support for linting spears (check out the new [spear creation guide](http://trove.wikia.com/wiki/Spear_Creation_Guide))
  * Trove Creations Linter: check your Trove Creation for common errors before submitting them (use the Trove Creation panel in the sidebar)
  * new options for exporting as link: calculate bounding box and create Trovesaurus shorturl
    * tip: use the 'Export model as Link' dialog for sharing your voxel model because of the much shorter link length.
  * renderer optimizations
  * improved model merging and resizing: resize offsets (attachment point relative or negative offstes) and calculate bounding box
  * added support for big models (lair / dungeon sized models): merge models, fly controls, color palette compressed base64 format
  * new faster Renderer with mor render options + libTroxel API improvements
