.dropZone {
  border: 2px dashed #bbbbbb;
  border-radius: 5px;
  color: #737373;
  padding: 25px;
  text-align: center;
}

.twitter-typeahead{
  width: 100%;
}

.tt-hint {
  color: #999
}

.tt-menu {
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  margin: 2px 0;
  max-height: 300px;
  overflow-y: auto;
  padding: 8px 0;
  width: 422px;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  font-size: 18px;
  line-height: 24px;
  padding: 3px 20px;
}

.tt-suggestion:hover {
  background-color: #0097cf;
  color: #fff;
  cursor: pointer;
}

.tt-suggestion.tt-cursor {
  background-color: #0097cf;
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}
